<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gta58.project_main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="웨더토커"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.gta58.project_main.intro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.gta58.project_main.MainActivity" />
        <activity android:name="com.example.gta58.project_main.dust" />
        <activity android:name="com.example.gta58.project_main.info" />
        <activity android:name="com.example.gta58.project_main.chart" />
        <activity
            android:name="com.example.gta58.project_main.speech_main"
            android:label="@string/title_activity_speech_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.gta58.project_main.speech1"
            android:label="@string/title_activity_speech1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.gta58.project_main.speech2" />
        <activity android:name="com.example.gta58.project_main.speech3" />
        <activity android:name="com.example.gta58.project_main.speech4" />

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0" />

        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.arch.lifecycle.VERSION"
            android:value="27.0.0-SNAPSHOT" />
    </application>

</manifest>